#header{
    border:1px dashed skyblue;
    border-radius: 10px;
    background-color: wheat;
    font-size:50px; color:red; font-family:Arial; text-align: center;
    transition-duration: 2.5s;
    transition-property:all;
    transition-timing-function:ease-in-out;
}

#header:hover{
    background-color: #004346;
    color: white;
    transform:rotate3d(0,1,0,360deg)
}

label{
    display: block;
}

label:active::before{
    overflow: auto;
    content:" Done!";
    color: white;
    font-family: cursive; 
}

footer{
text-align: center;
}

