body {
  background-color: #bc6c25;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 10px;
}

li {
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-radius: 10px;
}

li:last-child {
  margin-left: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  font-size: 1.2em;
  background-color: #9e2a2b;
  border-radius: 10px;
}

.activePage {
  background-color: #04aa6d;
  border-radius: 10px;
  width:10em ;
}

div {
  border: 1px dashed skyblue;
  border-radius: 10px;
  text-align: left;
  margin: 1% auto;
  padding: 0 5%;
  width: 80%;
}


img {
  border-radius: 15px;
  margin: 0 auto;
  transition-duration: 2s;
}

img:hover {
  transform: rotate(60deg);
}

.btn {
  border-radius: 5px;
  background-color: lightgreen;
  margin: 5% auto;
}

.btn:hover {
  font-size: 1.5em;
  background-color: blue;
  color: white;
}

/* @media only screen (max-wid) {
  body{
    display: flex;
    flex-flow: wrap column;
  }
  
} */
