
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}


th{
    text-align: right;
}

td{
    text-align: left;
}

div {
    border: 1px dashed skyblue;
    border-radius: 10px;
    text-align: left;
    margin: 1%;
    padding: 0 5%;
    /* width: 80%; */
  }
  

a{
    text-decoration: none;
    color: black
}

.email:hover::before{
    content: "Send an email to: ";
    color: white;
}